.icons {
  display: flex;
  flex-direction: row;
  gap: 80px;
  color: #5f6368;
  width: 45%;
}

.icon {
  font-size: 20px;
}

.left-icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  padding-top: 10px;
}

#close-btn:hover {
  background-color: rgb(205, 203, 203);
  border-radius: 20px;
}

.icon-btn {
  padding-top: 9px;
  border: none;
  background-color: transparent;
}

.icon-btn:hover {
  background-color: rgb(205, 203, 203);
  border-radius: 50%;
}
