<div class="icons">
  <div class="left-icon">
    <mat-icon id="icon">text_format</mat-icon>
    <mat-icon id="icon">palette</mat-icon>
    <mat-icon id="icon">notification_important</mat-icon>
    <mat-icon id="icon">person_add</mat-icon>
    <mat-icon id="icon">image</mat-icon>
    <mat-icon id="icon">archive</mat-icon>
    <mat-icon id="icon">more_vert</mat-icon>
    <mat-icon id="icon">undo</mat-icon>
    <mat-icon id="icon">redo</mat-icon>
  </div>
  <div class="right-icon"><button>Close</button></div>
</div>
