<form [formGroup]="signupForm" (ngSubmit)="onSignup()">
  <div class="page-wrapper">
    <mat-card class="signup-card" appearance="outlined">
      <div class="card-body">
        <div class="left-form">
          <div class="header">
            <img src="../../../assets/google.png" alt="Google Logo" />
            <h2>Create your Google Account</h2>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error
                *ngIf="signupForm.get('firstName')?.hasError('required')"
              >
                First name is required
              </mat-error>
              <mat-error
                *ngIf="signupForm.get('firstName')?.hasError('minlength')"
              >
                Enter Valid name
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <mat-error
                *ngIf="signupForm.get('lastName')?.hasError('required')"
              >
                Last name is required
              </mat-error>
              <mat-error
                *ngIf="signupForm.get('lastName')?.hasError('minlength')"
              >
                Enter Valid name
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field id="email" appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <div class="helper-text-pass">
            <p>You can use letters, numbers & periods</p>
            <button class="text-button" type="button">
              Use my current email instead
            </button>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
              />
              <mat-error
                *ngIf="signupForm.get('password')?.hasError('required')"
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="signupForm.get('password')?.hasError('minlength')"
              >
                Password must be at least 8 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Confirm</mat-label>
              <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
              />
              <mat-error
                *ngIf="signupForm.get('confirmPassword')?.hasError('required')"
              >
                Confirmation is required
              </mat-error>
              <mat-error
                *ngIf="
                  signupForm.hasError('passwordMismatch') &&
                  (signupForm.get('confirmPassword')?.touched ||
                    signupForm.get('confirmPassword')?.dirty)
                "
              >
                Passwords do not match
              </mat-error>
            </mat-form-field>
          </div>

          <p class="password-check-text">
            Use 8 or more characters with a mix of letters, numbers & symbols
          </p>

          <div class="checkbox-row">
            <mat-checkbox (click)="toggleShowPassword($event)">
              Show Password
            </mat-checkbox>
          </div>

          <div class="bottom-actions">
            <button class="text-button" (click)="goToLogin()">
              Sign in instead
            </button>
            <button mat-flat-button color="primary" type="submit">Next</button>
          </div>
        </div>

        <div class="right-info">
          <img
            src="../../../assets/google-product-image.png"
            alt="Google illustration"
          />
          <h3>One account. All of Google working for you.</h3>
        </div>
      </div>
    </mat-card>
  </div>
</form>
