mat-toolbar {
  background-color: white;
  border: solid 1px rgb(229, 221, 221);
}

#google-keep-logo {
  width: 30px;
  height: 40px;
  margin-right: 19px;
  margin-bottom: 3px;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.left-section,
.search,
.right-side-icons {
  display: flex;
  align-items: center;
}

.left-section {
  flex: 0.5;
  gap: 10px;
}

.search {
  flex: 2;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 700px;
  width: 100%;
}

.search input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: none;
  outline: none;
  border-radius: 9px;
  background-color: #f1f3f4;
  font-size: 14px;
  height: 50px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 16px;
  color: #5f6368;
  background-color: transparent;
}

.right-side-icons {
  flex: 0.5;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 50px;
}

.icon {
  color: #5f6368;
}

.example-container {
  height: calc(100vh - 64px);
  left: 0px;
}

.example-sidenav {
  width: 240px;
  transition: width 0.3s ease, padding 0.3s ease;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.example-sidenav.collapsed {
  width: 90px;
  padding: 20px 8px;
}

.sidenav-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidenav-icons button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  min-width: 64px;
  margin-left: 8px;
  color: #5f6368;
}

.example-sidenav.collapsed #sidenav-icons {
  align-items: center;
  margin-left: 10px;
  overflow: hidden;
}

.label-text {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;
}

.example-sidenav.collapsed .label-text {
  opacity: 0;
  width: 0;
  pointer-events: none;
}

.example-sidenav .label-text {
  font-size: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
}

#side-nav-item {
  font-size: 20px;
  padding-left: 15px;
  border: none;
  border-radius: 50%;
}

.sidenav-icons.expanded {
  margin-right: 100px;
}

#side-nav-icon.expanded {
  background-color: transparent;
  width: 180px;
  border: none;
  margin-bottom: 20px;
  overflow: hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#side-nav-icon.notExpanded {
  background-color: transparent;
  transition: background-color 0.2s;
  padding: 10px 0px;
  padding-left: 7px;
  width: 50px;
  text-align: left;
  border-radius: 50%;
  border: none;
}

#side-nav-icon.selected {
  background-color: #feefc3;
}

#side-nav-icon.hovered {
  background-color: #e0e0e0;
}

@media (max-width: 650px) {
  .search {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  #menu-btn,
  #refresh,
  #grid-toggle {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 410px) {
  span,
  .search {
    visibility: hidden;
    position: absolute;
  }
}
