<mat-toolbar>
  <div class="nav-bar">
    <div class="left-section">
      <button
        mat-icon-button
        aria-label="Menu"
        (click)="isSideNavOpened = !isSideNavOpened"
        id="menu-btn"
        style="margin-right: 40px"
      >
        <mat-icon style="color: #5f6368">menu</mat-icon>
      </button>
      <img
        id="google-keep-logo"
        src="../../../assets/google_keep_logo.png"
        alt="logo"
      />
      <span style="color: #5f6368">Keep</span>
    </div>

    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="search" placeholder="Search" id="search-bar" />
    </div>

    <div class="right-side-icons">
      <button id="refresh" class="icon" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>

      <button
        (click)="toggleView()"
        id="list-btn"
        class="icon"
        mat-icon-button
        [ngStyle]="{ display: listView ? 'none' : 'inline-flex' }"
      >
        <mat-icon>view_stream</mat-icon>
      </button>

      <button
        id="grid-btn"
        class="icon"
        mat-icon-button
        (click)="toggleView()"
        [ngStyle]="{ display: listView ? 'inline-flex' : 'none' }"
      >
        <mat-icon>grid_view</mat-icon>
      </button>

      <button id="setting" class="icon" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div class="right-most-icons">
      <button id="apps" class="icon" mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <button class="icon" mat-icon-button><mat-icon>person</mat-icon></button>
    </div>
  </div>
</mat-toolbar>

<!-- Fixed icons -->

<div class="fixed-icons" (mouseenter)="isSideNavOpened = true">
  <div id="lightblb">
    <button
      (mouseenter)="hoveredIndex = 0"
      (mouseleave)="hoveredIndex = null"
      (click)="selectedIndex = 0"
      [ngClass]="{
        hovered: hoveredIndex === 0 && selectedIndex !== 0,
        selected: selectedIndex === 0,
        expanded: isSideNavOpened
      }"
    >
      <mat-icon>lightbulb</mat-icon>
    </button>
  </div>
  <div id="notif">
    <button
      (mouseenter)="hoveredIndex = 1"
      (mouseleave)="hoveredIndex = null"
      (click)="selectedIndex = 1"
      [ngClass]="{
        hovered: hoveredIndex === 1 && selectedIndex !== 1,
        selected: selectedIndex === 1,
        expanded: isSideNavOpened
      }"
    >
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
  <div id="edit">
    <button
      (mouseenter)="hoveredIndex = 2"
      (mouseleave)="hoveredIndex = null"
      (click)="selectedIndex = 2"
      [ngClass]="{
        hovered: hoveredIndex === 2 && selectedIndex !== 2,
        selected: selectedIndex === 2,
        expanded: isSideNavOpened
      }"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div id="arch">
    <button
      (mouseenter)="hoveredIndex = 3"
      (mouseleave)="hoveredIndex = null"
      (click)="selectedIndex = 3"
      [ngClass]="{
        hovered: hoveredIndex === 3 && selectedIndex !== 3,
        selected: selectedIndex === 3,
        expanded: isSideNavOpened
      }"
    >
      <mat-icon>archive</mat-icon>
    </button>
  </div>
  <div id="del">
    <button
      (mouseenter)="hoveredIndex = 4"
      (mouseleave)="hoveredIndex = null"
      (click)="selectedIndex = 4"
      [ngClass]="{
        hovered: hoveredIndex === 4 && selectedIndex !== 4,
        selected: selectedIndex === 4,
        expanded: isSideNavOpened
      }"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<!-- SideNav -->

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="example-sidenav"
    mode="side"
    [opened]="true"
    [ngClass]="{ collapsed: !isSideNavOpened }"
  >
    <div class="side-nav-label" (mouseleave)="isSideNavOpened = false">
      <div id="notes-span">
        <span
          id="s_notes"
          (mouseenter)="hoveredIndex = 0"
          (mouseleave)="hoveredIndex = null"
          (click)="selectedIndex = 0"
          [ngClass]="{
            hovered: hoveredIndex === 0 && selectedIndex !== 0,
            selected: selectedIndex === 0,
            expanded: isSideNavOpened
          }"
        >
          Notes
        </span>
      </div>
      <div id="reminder-span">
        <span
          id="s_reminder"
          (mouseenter)="hoveredIndex = 1"
          (mouseleave)="hoveredIndex = null"
          (click)="selectedIndex = 1"
          [ngClass]="{
            hovered: hoveredIndex === 1 && selectedIndex !== 1,
            selected: selectedIndex === 1,
            expanded: isSideNavOpened
          }"
        >
          Reminder
        </span>
      </div>
      <div id="label-span">
        <span
          id="s_label"
          (mouseenter)="hoveredIndex = 2"
          (mouseleave)="hoveredIndex = null"
          (click)="selectedIndex = 2"
          [ngClass]="{
            hovered: hoveredIndex === 2 && selectedIndex !== 2,
            selected: selectedIndex === 2,
            expanded: isSideNavOpened
          }"
        >
          Add Label
        </span>
      </div>
      <div id="arch-span">
        <span
          id="s_arch"
          (mouseenter)="hoveredIndex = 3"
          (mouseleave)="hoveredIndex = null"
          (click)="selectedIndex = 3"
          [ngClass]="{
            hovered: hoveredIndex === 3 && selectedIndex !== 3,
            selected: selectedIndex === 3,
            expanded: isSideNavOpened
          }"
        >
          Archive
        </span>
      </div>
      <div id="trash-span">
        <span
          id="s_trash"
          (mouseenter)="hoveredIndex = 4"
          (mouseleave)="hoveredIndex = null"
          (click)="selectedIndex = 4"
          [ngClass]="{
            hovered: hoveredIndex === 4 && selectedIndex !== 4,
            selected: selectedIndex === 4,
            expanded: isSideNavOpened
          }"
        >
          Trash
        </span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-notes [view]="listView ? 'listView' : 'gridView'"></app-notes>
  </mat-sidenav-content>
</mat-sidenav-container>
