mat-toolbar {
  background-color: white;
  border: solid 1px rgb(229, 221, 221);
}

mat-sidenav-content {
  background-color: white;
}

#google-keep-logo {
  width: 30px;
  height: 40px;
  margin-right: 19px;
  margin-bottom: 3px;
  margin-left: -30px;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.left-section,
.search,
.right-side-icons {
  display: flex;
  align-items: center;
}

.left-section {
  flex: 0.5;
  gap: 10px;
  padding-left: 0;
}

#menu-btn {
  margin-left: 0px;
}

.search {
  flex: 2;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin-right: 100px;
  margin-left: 20px;
}

.search input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: none;
  outline: none;
  border-radius: 9px;
  background-color: #f1f3f4;
  font-size: 14px;
  height: 50px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #5f6368;
  background-color: transparent;
  margin-right: 100px;
}

.right-side-icons {
  flex: 0.5;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.icon {
  color: #5f6368;
}

@media (max-width: 650px) {
  .search {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  #menu-btn,
  #refresh,
  #grid-toggle {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 410px) {
  span,
  .search {
    visibility: hidden;
    position: absolute;
  }
}

/* Fixed icons */

/* .label-text {
  height: 50.5px;
  width: 179px;
  text-align: left;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
} */

.example-sidenav.collapsed {
  width: 0px;
}

.label-text.hovered {
  background-color: rgba(95, 99, 104, 0.157);
}

.label-text.selected {
  background-color: rgb(254, 239, 195);
}

button.icons-btn.hovered {
  background-color: rgba(95, 99, 104, 0.157);
}

button.icons-btn.selected {
  background-color: rgb(254, 239, 195);
}

button.icons-btn.collapsed {
  border-radius: 50%;
}

/* Targeting individual icon */
.fixed-icons {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  height: 100vw;
  width: 75px;
  position: absolute;
  margin-top: 8px;
}

#lightblb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lightblb > button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

#notif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#notif > button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

#edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit > button {
  height: 48px;
  width: 48px;
  border-radius: 50%;

  background-color: transparent;
  border: none;
}

#arch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#arch > button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

#del {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#del > button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

/* Span text divs */

mat-sidenav-container {
  margin-top: 8px;
  margin-left: 74px;
}

.example-sidenav {
  width: 200px;
  transition: width 0.2s ease, padding 0.2s ease;
  overflow-x: hidden;
  left: 0px;
}

.side-nav-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#notes-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#notes-span > span {
  height: 48px;
  width: 198px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#s_notes {
  padding-top: 12px;
}

#reminder-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#reminder-span > span {
  height: 48px;
  width: 198px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#s_reminder {
  padding-top: 12px;
}

#label-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#label-span > span {
  height: 48px;
  width: 198px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#s_label {
  padding-top: 12px;
}

#arch-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#arch-span > span {
  height: 48px;
  width: 198px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#s_arch {
  padding-top: 12px;
}

#trash-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#trash-span > span {
  height: 48px;
  width: 198px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#s_trash {
  padding-top: 12px;
}

/* #notes-span > span.expanded,
#reminder-span > span.expanded,
#label-span > span.expanded,
#arch-span > span.expanded,
#trash-span > span.expanded {
  background-color: powderblue;
} */

#lightblb > button.expanded,
#notif > button.expanded,
#edit > button.expanded,
#arch > button.expanded,
#del > button.expanded {
  width: 100%;
  border-radius: 0px;
}

#lightblb > button.hovered,
#notes-span > span.hovered,
#notif > button.hovered,
#reminder-span > span.hovered,
#edit > button.hovered,
#label-span > span.hovered,
#arch > button.hovered,
#arch-span > span.hovered,
#del > button.hovered,
#trash-span > span.hovered {
  background-color: rgba(95, 99, 104, 0.157);
}

#lightblb > button.selected,
#notes-span > span.selected,
#notif > button.selected,
#reminder-span > span.selected,
#edit > button.selected,
#label-span > span.selected,
#arch > button.selected,
#arch-span > span.selected,
#del > button.selected,
#trash-span > span.selected {
  background-color: #feefc3;
}

#lightblb > button.expanded,
#notes-span > span.expanded,
#notif > button.expanded,
#reminder-span > span.expanded,
#edit > button.expanded,
#label-span > span.expanded,
#arch > button.expanded,
#arch-span > span.expanded,
#del > button.expanded,
#trash-span > span.expanded {
  transition: all 0.2s ease;
}
