<app-top-nav
  [listView]="listView"
  (toggleSidenav)="toggleSidenav()"
  (toggleView)="toggleView($event)"
  (searchTextString)="searchHandler($event)"
  [isTrashClicked]="isTrashClicked"
  [isArchivedClicked]="isArchivedClicked"
  [isNotesClicked]="isNotesClicked"
  [isReminderClicked]="isReminderClicked"
></app-top-nav>

<app-side-nav
  [isSideNavOpen]="isSideNavOpened"
  [hoveredIndex]="hoveredIndex"
  [selectedIndex]="selectedIndex"
  (setHoveredIndex)="hoveredIndex = $event"
  (setSelectedIndex)="selectedIndex = $event"
  (onClickNotes)="onClickNotes()"
  (onClickArchive)="onClickArchive()"
  (onClickTrash)="onClickTrash()"
  (onClickReminder)="onClickReminder()"
>
</app-side-nav>
<router-outlet></router-outlet>
