<mat-card
  id="collapsedNoteCard"
  (click)="expand()"
  [ngClass]="{ defaultCard: expandNote }"
>
  <mat-card-content>
    <div class="card">
      <div class="left-side">
        <p>Take a note...</p>
      </div>
      <div class="right-side">
        <div class="right-side-icons">
          <button mat-icon-button matTooltip="New list">
            <mat-icon>check_box</mat-icon>
          </button>
          <button id="drawing-button" matTooltip="Drawing is not available">
            <mat-icon>brush</mat-icon>
          </button>
          <button
            id="drawing-button"
            matTooltip="New note with image"
            mat-icon-button
          >
            <mat-icon>image</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  id="AddNoteCard"
  *ngIf="expandNote"
  [ngClass]="{ expandedCard: expandNote }"
  [ngStyle]="{ 'background-color': bgColor }"
>
  <mat-card-content id="AddCardContent">
    <div class="top-content">
      <div class="top-input-div">
        <input
          type="text"
          id="titleBar"
          placeholder="Title"
          value="title"
          [(ngModel)]="title"
          [ngStyle]="{ 'background-color': bgColor }"
        />
      </div>
      <div class="pin-icon-div">
        <button class="pin-icon" (click)="togglePin()">
          <mat-icon>{{ pinView ? "keep_on" : "keep_off" }}</mat-icon>
        </button>
      </div>
    </div>

    <textarea
      placeholder="Take a note..."
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      id="takeNoteBar"
      value="description"
      [(ngModel)]="description"
      [ngStyle]="{
        'background-color': bgColor,
        overflow: 'hidden',
        'font-family': 'Roboto, sans-serif',
        'font-size': '14px',
        'margin-bottom': '20px'
      }"
    ></textarea>

    <div id="bottom-icons-tab">
      <app-icons
        (bgColor)="setBgColor($event)"
        (closeBtn)="dataFromCloseBtn($event)"
        [formatBtn]="true"
        [colorPalette]="true"
        [notification]="true"
        [collaborator]="true"
        [image]="true"
        [archive]="true"
        [threeDots]="true"
        [undo]="true"
        [redo]="true"
        [disableBtn]="true"
        [closeButton]="true"
        (isArchivedClickHandler)="isArchivedClickHandler($event)"
        [menuBtn]="true"
      />
    </div>
  </mat-card-content>
</mat-card>
