<mat-card (click)="expand()" [ngClass]="{ defaultCard: expandNote }">
  <mat-card-content>
    <div class="card">
      <div class="left-side">
        <p>Take a note...</p>
      </div>
      <div class="right-side">
        <div class="right-side-icons">
          <mat-icon>check_box</mat-icon>
          <mat-icon>brush</mat-icon>
          <mat-icon>imagesmode</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  id="AddNoteCard"
  *ngIf="expandNote"
  [ngClass]="{ expandedCard: expandNote }"
  [ngStyle]="{ 'background-color': bgColor }"
>
  <mat-card-content id="AddCardContent">
    <div class="top-content">
      <input
        type="text"
        id="titleBar"
        placeholder="Title"
        value="title"
        [(ngModel)]="title"
        [ngStyle]="{ 'background-color': bgColor }"
      />
      <mat-icon fontIcon="keep_off"></mat-icon>
    </div>
    <input
      type="text"
      placeholder="Take a note..."
      id="takeNoteBar"
      value="description"
      [(ngModel)]="description"
      [ngStyle]="{ 'background-color': bgColor }"
    />
    <div id="bottom-icons-tab">
      <app-icons
        (bgColor)="setBgColor($event)"
        (closeBtn)="dataFromCloseBtn($event)"
        [formatBtn]="true"
        [colorPalette]="true"
        [notification]="true"
        [collaborator]="true"
        [image]="true"
        [archive]="true"
        [threeDots]="true"
        [undo]="true"
        [redo]="true"
        [disableBtn]="true"
      />
    </div>
  </mat-card-content>
</mat-card>
