:host {
  position: fixed;
  top: 64px;
  left: 0;
  height: calc(100vh - 64px);
  width: auto;
  z-index: 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidenav-wrapper {
  height: 100%;
  display: flex;
}

.icon-group {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  height: 100%;
  width: 72px;
  background-color: white;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 10px;
}

.icon-group.expanded {
  width: 250px;
  margin-left: 0;
}

.icon-row {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  padding-right: 8px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
}

.icon-container {
  width: 72px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container mat-icon {
  font-size: 23px;
  color: #5f6368;
}

.icon-group.expanded .icon-container {
  transform: translateX(5px);
}

.icon-group.expanded .icon-row.hovered,
.icon-group.expanded .icon-row.selected {
  background-color: rgba(95, 99, 104, 0.157);
  border-radius: 0 25px 25px 0;
}

.icon-group.expanded .icon-row.selected {
  background-color: #feefc3;
}

.icon-group:not(.expanded) .icon-row.hovered .icon-container,
.icon-group:not(.expanded) .icon-row.selected .icon-container {
  background-color: rgba(95, 99, 104, 0.157);
  border-radius: 50%;
}

.icon-group:not(.expanded) .icon-row.selected .icon-container {
  background-color: #feefc3;
}

.label {
  font-size: 14px;
  white-space: nowrap;
  color: #5f6368;
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.icon-group.expanded .label {
  opacity: 1;
}
